*{
    font-family: 'Permanent Marker';
}

/* backgorund for the div contianing the cards */
body {
    background-color: #003A70;
}

.display {
    font-size: 35px;
    text-align: center;
}

.cardHolder {
    background-color: #FFCB05;
    border-style: ridge;
    border-color: #3D7DCA;
    border-width: 10px;
    width: 500px;
    margin: 0 auto;
}